<app-header [_profileStats]="_user()?.statistics" [_username]="_user()?.name" />

<div class="d-flex flex-row justify-content-center">
  <button class="btn btn-primary" [routerLink]="['/run']">Run</button>
  <button class="btn btn-dark" [routerLink]="['/manage', _user()?.name]">
    Manage
  </button>
  <button class="btn btn-primary" (click)="dev()">dev</button>
  <hr class="dashed" />
</div>

<main class="container d-flex flex-column">
  <!-- <app-run-preview-section [_themes]="this._userThemes()" /> -->
  <h1>Card to do</h1>
</main>

<app-memory-card-sm />
