<div
  class="text-light d-flex flex-row dev-bar align-items-center justify-content-center"
>
  <button
    class="btn btn-outline-dark btn-sm small"
    (click)="dateStore.passOneDay()"
  >
    Pass One day
  </button>
  <button
    class="btn btn-outline-dark btn-sm"
    (click)="databaseService.clearWholeDB()"
  >
    Clear Whole DB
  </button>
  <button
    type="button "
    class="btn btn-outline-dark btn-sm"
    (click)="onPopulateDB()"
  >
    Populate Db
  </button>
</div>
<p class="text-dark text-center text-nowrap">{{ formatedActualDate() }}</p>
