<div class="d-flex flex-column justify-content-center">
  <atm-button-quit
    class="mx-auto my-2"
    textToDisplay="Quit"
    actionToPerform="goTo"
    pathToNavigate="/board"
  />

  <div class="d-flex justify-content-center">
    <button
      class="btn-neuro btn-neuro-val mx-1 mb-4"
      (click)="onValidateRun()"
      [disabled]="!hasUserRunToDo()"
    >
      RUN
    </button>
  </div>

  @if (hasUserRunToDo()) { }
</div>

@if (_userThemes$()) {
<ul
  class="list-group list-group-flush accordion accordion-flush"
  id="accordionFlushExample"
>
  @for ( theme of _userThemes$(); track $index) { @if (isMemThemeChecked(theme))
  {
  <div
    class="neuro-panel clickable d-flex flex-row bg-light align-items-center my-2 rounded-5 justify-content-between"
  >
    <h5 class="card-title text-capitalize ms-3">
      {{ theme.name }}
      <span
        [hidden]="!isMemThemeChecked(theme)"
        class="badge text-bg-success rounded-pill"
      >
        {{ countMemcardToValidate(theme) }}
      </span>
    </h5>

    <!-- Bouton pour ouvrir l'accordéon -->
    <button
      class="accordion-button collapsed bg-light w-auto"
      type="button"
      data-bs-toggle="collapse"
      [attr.data-bs-target]="'#flush-collapse-' + $index"
      [attr.aria-controls]="'flush-collapse-' + $index"
      aria-expanded="false"
    ></button>
  </div>

  <!-- Contenu de l'accordéon -->
  <div
    id="flush-collapse-{{$index}}"
    class="accordion-collapse collapse"
    data-bs-parent="#accordionFlushExample"
  >
    @if (theme.cards && theme.cards.length > 0) { @for ( memcard of theme.cards;
    track $index) {
    <div
      class="neuro-panel h-3em align-items-center d-flex flex-row justify-content-between text-start ps-2 my-2"
    >
      <img
        class="ico-val-level me-2"
        [src]="this.memcardIcon.valIcoPath(memcard.Historic[0].valLevel)"
      />
      <h6 class="p-0 m-0 ms-2 me-auto align-top d-flex">{{ memcard.title }}</h6>
    </div>
    } }
  </div>
  } }
</ul>

}
