@if (isRenaming()) {
  <app-profile-creation (notifyProcessEnded)="onValidateRenaiming()" />

} @else {
  <div class="neuro-effect ps-3 my-2">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <p class="col fw-bold fs-4">{{ _user()?.name }}</p>
      <p>{{ _user()?.statistics?.scoreAllTime }}</p>

      <div class="">
        <button class="btn" (click)="onDownload(this._user()!.id)">
          <img
            class="align-self-center px-0"
            src="/app-icons/ico-download.svg"
          />
        </button>
        <button class="btn btn-red" (click)="onDeleteProfile()">
          <img src="trash.svg" />
        </button>
        <button class="btn" (click)="onModifyProfile(true)">
          <img src="pen.svg" />
        </button>
        <button
          class="btn btn-profile-bar fw-bold text-success cust-rounded-end me-1"
          (click)="onUserSelection()"
          [routerLink]="['/board', _user()?.name]"
        >
          Go
        </button>
      </div>
    </div>
  </div>
}
