//Design System related
@import "colors.tokens";
@import "font-families.tokens";
@import "./effects.token.scss";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

input[type="file"]::file-selector-button {
  @extend .btn, .btn-primary;
}

.btn-outline-dark:active > img {
  color: red;
}

hr.dashed {
  border-top: 3px dashed #bbb;
}

.svg-primary {
  filter: invert(36%) sepia(92%) saturate(1456%) hue-rotate(151deg)
    brightness(95%) contrast(88%);
}
.svg-primary {
  filter: invert(36%) sepia(92%) saturate(1456%) hue-rotate(151deg)
    brightness(95%) contrast(88%);
}
.svg-primary {
  filter: invert(36%) sepia(92%) saturate(1456%) hue-rotate(151deg)
    brightness(95%) contrast(88%);
}
.svg-primary {
  filter: invert(36%) sepia(92%) saturate(1456%) hue-rotate(151deg)
    brightness(95%) contrast(88%);
}

.rotate-svg-45 {
  transform: rotate(45deg);
  transition: all 0.5s ease;
}

body {
  background-color: $light;
}

.rotate-svg-0 {
  transition: all 0.5s ease;
  transform: rotate(0deg);
}

.invalid-feedback {
  display: contents;
}

.neuro-effect {
  border-radius: 50px;
  border: 1px solid #fff;
  background:
    linear-gradient(
      318deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 105.18%
    ),
    #f1f5f9;
  background-blend-mode: soft-light, normal;
  box-shadow:
    -5px -5px 10px 0px #fafbff,
    2.5px 2.5px 5px 0px #a6abbd;
}

h1 {
  font-family: "Advent Pro";
}

button {
  touch-action: manipulation;
}

.brand-typo {
  font-family: "VT323";
  color: rgb(81, 81, 81);
  font-size: 24px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  border-radius: 15px;
}

.app-container {
  max-width: 480px;
  min-height: 100svh;
}

.neuro-panel-sm {
  border-radius: 20px;
  box-shadow:
    8px 8px 16px 0px #c9d9e8,
    -8px -8px 16px 0px #fff;
}

.neuro-panel {
  border-radius: 24px;
  background-clip: padding-box;

  background: #f1f5f9;
  box-shadow:
    4px 4px 8px 0px #c9d9e8,
    -4px -4px 8px 0px #fff;
  transition: all ease 0.5s;
}

.neuro-panel.clickable:hover {
  background: #bdbdbd;
  box-shadow:
    2px 2px 8px 0px #c9d9e8,
    -2px -2px 8px 0px #fff;
  transition: all ease 0.5s;
}

.neuro-panel.selected {
  color: rgb(122, 184, 255);
  background:
    linear-gradient(
      318deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 105.18%
    ),
    #e7ebf0 !important;
  background-blend-mode: soft-light, normal;
  box-shadow:
    -2.5px -2.5px 5px 0px #fafbff inset,
    2.5px 2.5px 5px 0px #a6abbd inset;
  transition: all ease 0.5s;
}

.btn-neuro {
  display: block;

  /* Espacement horizontal (padding) */
  padding-left: 3rem;
  padding-right: 3rem;

  margin-left: 1rem;
  margin-right: 1rem;

  border-radius: 50px;
  border: 1px solid #fff;
  background:
    linear-gradient(
      318deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 105.18%
    ),
    #f1f5f9;
  background-blend-mode: soft-light, normal;
  box-shadow:
    -5px -5px 10px 0px #fafbff,
    2.5px 2.5px 5px 0px #a6abbd;

  text-transform: uppercase;

  color: rgb(43, 43, 43);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  min-width: max-content;
}

.btn-neuro:disabled {
  background-color: #bbb;
}

.btn-neuro-sm {
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-neuro-prim {
  color: $dark;
  background-color: $primary;
}

.btn-neuro-dng {
  color: rgb(255, 91, 91);
}

.btn-profile-bar {
}

.btn-profile-bar:hover {
  background-color: #a7ff95;
  color: $dark !important;
}

.btn-neuro-val {
  background-color: #a7ff95;
}

.btn-neuro:not(:disabled):hover {
  background-color: #555;
  color: #e0e0e0;
}

.btn-neuro:not(:disabled):hover img {
  filter: brightness(0) saturate(100%) invert(63%) sepia(0%) saturate(4346%)
    hue-rotate(142deg) brightness(130%) contrast(119%);
}

.btn-neuro-dng:not(:disabled):hover {
  background-color: rgb(255, 91, 91);
  color: #555;
}

.btn-neuro {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-neuro-sm {
}

.cust-rounded-end {
  border-radius: 0% 50px 50px 0%;
}
