$primary: #31e6e0 !default;
$secondary: #d4d067 !default;
$grey: #536878 !default;
$dark: #262424 !default;
$light: #f1f5f9 !default;
$gold: #b5b25c !default;
$success: #3cad25 !default;
$darkblue: #131927 !default;

$UIgreen: #1ded83 !default;
$UIcyan: #5bf6ff !default;
$UIyellow: #f1ea4d !default;
$UIred: #e07a76 !default;
$UIorange: #f39b3f !default;
$UIlight0: #f4f4f4 !default;
$UIlight1: #dddddd !default;
$UIlight2: #acacac !default;
$UIlight3: #595959 !default;
