@font-face {
  font-family: "VT323";
  src: url("./_fonts/VT323-Regular.ttf");
  font-weight: 400;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Advent Pro";
  src: url("./_fonts/Advent_Pro/AdventPro-VariableFont_wdth\,wght.ttf");
  font-weight: 400;
  font-weight: normal;
  font-display: swap;
}
