@import "_colors.variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

input[type="file"]::file-selector-button {
  @extend .btn, .btn-primary;
}

.btn-outline-dark:active > img {
  color: red;
}

.svg-primary {
  filter: invert(36%) sepia(92%) saturate(1456%) hue-rotate(151deg)
    brightness(95%) contrast(88%);
}
.svg-primary {
  filter: invert(36%) sepia(92%) saturate(1456%) hue-rotate(151deg)
    brightness(95%) contrast(88%);
}
.svg-primary {
  filter: invert(36%) sepia(92%) saturate(1456%) hue-rotate(151deg)
    brightness(95%) contrast(88%);
}
.svg-primary {
  filter: invert(36%) sepia(92%) saturate(1456%) hue-rotate(151deg)
    brightness(95%) contrast(88%);
}

.rotate-svg-45 {
  transform: rotate(45deg);
  transition: all 0.5s ease;
}

.rotate-svg-0 {
  transition: all 0.5s ease;
  transform: rotate(0deg);
}
