@import "_colors.variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

input[type="file"]::file-selector-button {
  @extend .btn, .btn-primary;
}

.btn-outline-dark:active > img {
  color: red;
}

hr.dashed {
  border-top: 3px dashed #bbb;
}

.svg-primary {
  filter: invert(36%) sepia(92%) saturate(1456%) hue-rotate(151deg)
    brightness(95%) contrast(88%);
}
.svg-primary {
  filter: invert(36%) sepia(92%) saturate(1456%) hue-rotate(151deg)
    brightness(95%) contrast(88%);
}
.svg-primary {
  filter: invert(36%) sepia(92%) saturate(1456%) hue-rotate(151deg)
    brightness(95%) contrast(88%);
}
.svg-primary {
  filter: invert(36%) sepia(92%) saturate(1456%) hue-rotate(151deg)
    brightness(95%) contrast(88%);
}

.rotate-svg-45 {
  transform: rotate(45deg);
  transition: all 0.5s ease;
}

body {
  background-color: $dark;
}

.rotate-svg-0 {
  transition: all 0.5s ease;
  transform: rotate(0deg);
}

.neuro-effect {
  border-radius: 50px;
  border: 1px solid #fff;
  background:
    linear-gradient(
      318deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 105.18%
    ),
    #f1f5f9;
  background-blend-mode: soft-light, normal;
  box-shadow:
    -5px -5px 10px 0px #fafbff,
    2.5px 2.5px 5px 0px #a6abbd;
}

@font-face {
  font-family: "VT323";
  src: url("./_fonts/VT323-Regular.ttf");
  font-weight: 400;
  font-weight: normal;
  font-display: swap;
}

h1 {
  font-family: "VT323";
}

.brand-typo {
  font-family: "VT323";
  color: rgb(81, 81, 81);
  font-size: 24px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  border-radius: 15px;
}

.app-container {
  max-width: 480px;
  min-height: 90svh;
}
.btn-neuro {
  /* Positionnement horizontal centré */
  margin-left: auto;
  margin-right: auto;
  display: block;

  /* Espacement vertical */
  margin-top: 2rem;
  margin-bottom: 2rem;

  /* Espacement horizontal (padding) */
  padding-left: 3rem;
  padding-right: 3rem;

  border-radius: 50px;
  border: 1px solid #fff;
  background:
    linear-gradient(
      318deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 105.18%
    ),
    #f1f5f9;
  background-blend-mode: soft-light, normal;
  box-shadow:
    -5px -5px 10px 0px #fafbff,
    2.5px 2.5px 5px 0px #a6abbd;

  text-transform: uppercase;

  color: rgb(43, 43, 43);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.btn-neuro-dng {
  color: rgb(255, 91, 91); /* Couleur du texte */
}

.btn-neuro-val {
  background-color: #a7ff95; /* Changement de couleur au survol */

}

.btn-neuro:hover {
  background-color: #555; /* Changement de couleur au survol */
  color: cyan;
}

.btn-neuro-dng:hover {
  background-color: rgb(255, 91, 91);
  color: #555; /* Couleur du texte */
}

/* Effet "neuro" (exemple avec une ombre) */
.btn-neuro {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre */
}

.btn-neu {
}
