<div>
  <div class="container text-center">
    <div class="row row-cols-2">
      @if (_userThemes()) { @for (theme of _userThemes(); track theme.id) {
      <div class="col">
        <div class="card-body row">
          <h5 class="card-title text-capitalize">{{ theme.name }}</h5>
          <div>
            <button
              href="#"
              class="btn btn-outline-dark"
              (click)="onSelect(theme.id)"
            >
              Select
            </button>
          </div>
          <!-- <button href="#" class="btn btn-danger">Go somewhere</button> -->
        </div>
      </div>

      } } @else {
      <p>Aucun thème trouvé.</p>
      }
    </div>

    <!-- @for (card of _USER_DATA; track $index) {

  <app-memorycard-tab [_memorycardData$]="card" />

  } -->

    <button (click)="dev()" class="btn btn-outline-dark">
      Create New Theme
    </button>

    @if (this.isCreatingTheme()) {
    <app-create-new-theme />
    } @if (this.storeGlobalService.getSlcThemeId() != null) {

    <button
      href="#"
      class="btn btn-outline-dark"
      (click)="this.isCreatingCard.set(!this.isCreatingCard()) "
    >
      Create New Card
    </button>
    <br />

    @if (this.isCreatingCard()) {
    <app-create-memorycard />
    }}
  </div>
</div>
