<div class="neuro-effect memcard d-flex flex-column mt-5">
  @if (memecard) {
    <div class="memcard-header d-flex flex-row bg-light text-center">
      <div class="col">
        <h6>Runned</h6>
        <h5>{{ memecard.Historic.length + 1 }}</h5>
      </div>
      <div class="col text-center">
        <h6>Val Lvl</h6>
        <h5>{{ memecard.Historic[0].valLevel }}</h5>
      </div>
      <div class="col">
        <h6>Val count</h6>
        <h5>{{ this.val() }}</h5>
      </div>
      <div class="col">
        <h6>Deval count</h6>
        <h5>{{ this.deval() }}</h5>
      </div>
    </div>
    <hr />

    <h3 class="text-center p-3">{{ memecard.title }}</h3>
    @if (memecard.recto.length > 0) {
      @for (rectoContent of memecard.recto; track $index) {
        <h5 class="">{{ rectoContent.description }}</h5>
      }
    }

    @if (!isRevealed()) {
      <button class="btn-neuro btn-neuro-dng" (click)="onReveal()">
        Retourner
      </button>
    }

    @if (isRevealed()) {
      <hr />
      <div class="verso-container text-center">
        <h4>Answer</h4>
        @for (versoContent of memecard.verso; track $index) {
          <h1>{{ versoContent.value }}</h1>
          <h5>{{ versoContent?.description }}</h5>
        }
      </div>
    }

    @if (isRevealed()) {
      <div class="d-flex flex-row">
        <button
          class="btn-neuro btn-neuro-dng"
          (click)="onValidate(false, memecard.id)"
        >
          Faux</button
        ><button
          class="btn-neuro btn-neuro-val"
          (click)="onValidate(false, memecard.id)"
        >
          Juste
        </button>
      </div>
    }
  }
</div>
