<!-- Modal -->
<div
  class="modal fade"
  id="loadJSONModal"
  tabindex="-1"
  aria-labelledby="loadJSONModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-light">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loadJSONModalLabel">Upload json</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <div class="input-group">
          <input
            #fileInput
            type="file"
            class="form-control"
            id="inputGroupFile04"
            aria-describedby="inputGroupProfileJSON"
            aria-label="Upload"
            accept=".memjson"
            (change)="onFileSelected($event)"
          />
          <button
            class="btn btn-outline-dark"
            type="button"
            id="inputGroupProfileJSON"
            [disabled]="!uploadedFile"
            (click)="onUpload()"
          >
            Importer
          </button>
        </div>
        <label for="floatingInputValue"> Must be a .memjson file</label>
      </div>

      <!-- @if (uploadStatus) {
        <div
          class="alert mt-2"
          [ngClass]="{
            'alert-success': uploadStatus === 'success',
            'alert-danger': uploadStatus === 'error',
          }"
        >
          {{ statusMessage }}
        </div>
      } -->

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-neuro btn-neuro-dng btn-neuro-sm"
          data-bs-dismiss="modal"
          (click)="clearFile()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
