<!-- <h1 class="ms-2">New Profile</h1> -->

<div class="input-group mb-3 px-2">
  <input
    type="text"
    class="form-control"
    [(ngModel)]="inputUsername"
    placeholder="Username"
    aria-label="Username"
    aria-describedby="basic-addon1"
  />

  <button
    class="btn btn-primary"
    (click)="onValidate()"
    [disabled]="!isInputValid()"
  >
    Valider
  </button>
  <button
    class="btn btn-danger"
    (click)="this.notifyProcessEnded.emit(true)"
  >
    Annuler
  </button>
</div>
