<div class="input-group has-validation mb-3 px-2">
  <div class="w-100">
    <input
      type="text"
      class="form-control"
      (input)="handleInputChange()"
      [(ngModel)]="inputUsername"
      placeholder="Username"
      [class.is-invalid]="isNameTakenFlag"
    />
    @if (isNameTakenFlag) {
      <div class="invalid-feedback d-block">
        <!-- Ajoutez "d-block" -->
        Ce nom est déjà pris
      </div>
    }

    <button
      class="btn btn-primary"
      (click)="onValidate()"
      [disabled]="!isInputValid() || isNameTakenFlag"
    >
      Valider
    </button>

    <button class="btn btn-danger" (click)="notifyProcessEnded.emit(true)">
      Annuler
    </button>
  </div>
</div>
