<div class="input-group has-validation mb-3 px-2">
  <div class="w-100">
    <input
      type="text"
      class="form-control"
      (input)="handleInputChange()"
      [(ngModel)]="inputUsername"
      placeholder="Username"
      [class.is-invalid]="isNameTakenFlag"
    />

    <div class="d-flex flex-row-reverse mt-1">
      <button
        class="btn btn-neuro-sm btn-neuro-val"
        (click)="onValidate()"
        [disabled]="!isInputValid() || isNameTakenFlag"
      >
        Valider
      </button>

      <button class="btn btn-danger" (click)="notifyProcessEnded.emit(true)">
        Annuler
      </button>

      @if (isNameTakenFlag) {
        <div class="invalid-feedback d-block">
          <!-- Ajoutez "d-block" -->
          Ce nom est déjà pris
        </div>
      }
    </div>
  </div>
</div>
