<div class="d-flex flex-row justify-content-center">
  <button class="btn-neuro-sm btn-neuro mx-1 mb-3" (click)="onCreateUser()">
    New profile
  </button>
  <button
    class="btn btn-neuro mx-1 mb-3 py-1 px-2"
    data-bs-toggle="modal"
    data-bs-target="#loadJSONModal"
  >
    <img class="align-self-center px-0" src="/app-icons/ico-upload.svg" />
  </button>
</div>
@if (_users()) { @for ( user of _users(); track user.id) {
<app-profile-tab [_user]="user" />
} } @else {
<p>Loading...</p>
} @if (isCreatingNewUser()) {
<app-profile-creation
  (notifyProcessEnded)="onProfileCreationEnd()"
></app-profile-creation>
}

<app-load-json-data />
