<div class="card text-cente" style="width: 18rem;">
  <div class="card-header">
  lv {{_memoryCard()?.validationLevel}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{_memoryCard()?.question}}</h5>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Answer</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="userAnswer"></textarea>
    </div>
  </div>
  <div class="card-footer text-body-secondary">
    <button (click)="UserValidation()" class="btn btn-primary">Valider</button>
    @if (this.hasUserAnswered) {
      @if (this.IsAnswerValid()) {
        <p>Bien jouer</p>
      }
      @if (!this.IsAnswerValid()) {
        <p>Nul</p>
      }
    }
  </div>
</div>
