<div>
  <div class="container text-center">
    <button (click)="switchIsCreatingTheme()" class="my-2 btn btn-outline-dark">
      Create New Theme
    </button>
    <div class="row">
      <!-- Themes Part -->
      @if (_userThemes()) { @for (theme of _userThemes(); track theme.id) {
      <div class="card-body row">
        <h5 class="card-title text-capitalize">{{ theme.name }}</h5>
        <div>
          <button
            href="#"
            class="btn btn-outline-dark"
            (click)="onSelectTheme(theme.id)"
          >
            Select
          </button>
          <button
            href="#"
            class="btn btn-outline-dark"
            (click)="onRenameTheme(theme.id)"
          >
            Rename
          </button>
          <button
            href="#"
            class="btn btn-outline-dark"
            (click)="onDeleteTheme(theme.id)"
          >
            Supr
          </button>
        </div>
      </div>
      }}
    </div>
    @if (this.isCreatingTheme()) {
    <app-create-new-theme (notifyProcessEnded)="onThemeCreationEnd()" />
    }

    <!-- MEMECARD PART -->

    @if (this.storeGlobalService.getSlcThemeId() !== null) {
    <button
      href="#"
      class="btn btn-outline-dark"
      (click)="this.isCreatingMemcard.set(!this.isCreatingMemcard()) "
    >
      Create New Card
    </button>
    <br />

    @if (this.isCreatingMemcard() && this.storeGlobalService.getSlcThemeId() !=
    null ) {
    <app-create-memorycard (notifyProcessEnded)="onMemcardCreationEnd()" />
    }}
  </div>

  @if (_selected_theme(); as theme) {
  <div class="cards-container">
    @for (memcard of theme.cards; track $index) {

    <!-- Contenu de la carte -->
    <div class="card">
      {{ memcard.title }}
      <button (click)="onDeleteCard(memcard.id)">supr</button>
    </div>
    }
  </div>
  }
</div>

<!-- <button (click)="dev()">DEV</button> -->
