<app-header
  [_profileStats]="_user$()?.statistics"
  [_username]="_user$()?.name"
/>

<div>
  <div class="container text-center">
    <button (click)="switchIsCreatingTheme()" class="my-2 btn btn-outline-dark">
      Create New Theme
    </button>
    @if (!this.isCreatingMemcard()) {
    <div class="col">
      <!-- Themes Part -->
      @if (_userThemes()) { @for (theme of _userThemes(); track theme.id) {
      <div
        role="button"
        class="neuro-panel clickable d-flex flex-row bg-light align-items-center my-2 rounded-2 justify-content-between"
        (mouseenter)="onHoverMemTheme(theme.id)"
        (mouseleave)="onLeaveMemTheme(theme.id)"
        (click)="handleClick(theme.id); $event.stopPropagation()"
        [class.selected]="storeGlobalService.slcThemeId() === theme.id"
      >
        <h5
          class="card-title text-capitalize ms-2"
          [hidden]="isRenamingTheme()"
        >
          {{ theme.name }}
        </h5>
        <div
          class="input-group editable-input mb-0"
          [hidden]="!isRenamingTheme()"
        >
          <input
            type="text"
            class="form-control"
            placeholder=""
            aria-label="Example text with button addon"
            aria-describedby="button-addon1"
            [value]="theme.name"
          />
          <button
            class="btn btn-outline-success editable-input"
            type="button"
            id="button-addon1"
            (click)="onValidateThemeRename(); $event.stopPropagation()"
          >
            <img src="app-icons/ico-check.svg" />
          </button>
        </div>

        <div class="flex-end d-flex">
          <button
            href="#"
            class="btn"
            [hidden]="isRenamingTheme()"
            (click)="onRenameTheme(true); $event.stopPropagation()"
          >
            <img src="pen.svg" />
          </button>
          <button
            class="btn"
            (click)="onDeleteTheme(theme.id); $event.stopPropagation()"
          >
            <img src="trash.svg" />
          </button>
          <button
            class="btn"
            (click)="onAddContentToTheme(theme.id); $event.stopPropagation()"
          >
            <img
              class="align-self-center px-0"
              src="/app-icons/ico-add-content.svg"
            />
          </button>
        </div>
      </div>
      }}
    </div>
    @if (this.isCreatingTheme()) {
    <app-create-new-theme (notifyProcessEnded)="onThemeCreationEnd()" />
    } }

    <!-- MEMECARD PART -->
    @if (this.storeGlobalService.getSlcThemeId() !== null) {
    <br />

    @if (this.isCreatingMemcard() && this.storeGlobalService.getSlcThemeId() !=
    null ) {
    <app-create-memorycard (notifyProcessEnded)="onMemcardCreationEnd()" />
    }}
  </div>

  @if (_selected_theme(); as theme) {
  <div class="cards-container">
    @for (memcard of theme.cards; track $index) {

    <div
      class="neuro-panel h-3em align-items-center d-flex flex-row justify-content-between text-start ps-2 my-2"
    >
      <img
        class="ico-val-level me-2"
        [src]="this.memcardIcon.valIcoPath(memcard.Historic[0].valLevel)"
      />
      @if (memcard.Historic[0].statusAt === this.ENUM_MEMCARD_STATUS.Validated)
      {
      <img class="align-self-center px-0 me-2" src="/app-icons/ico-val.svg" />
      } @if ( memcard.Historic[0].statusAt ===
      this.ENUM_MEMCARD_STATUS.NotValidated ) {
      <img class="align-self-center px-0 me-2" src="/app-icons/ico-deval.svg" />
      }
      <h6 class="p-0 m-0 ms-2 me-auto align-top d-flex">{{ memcard.title }}</h6>

      <div>
        <button
          href="#"
          class="btn"
          (click)="onRenameMemcard(); $event.stopPropagation()"
        >
          <img src="pen.svg" />
        </button>

        <button type="button" class="btn">
          <img src="/app-icons/ico-trash.svg" />
        </button>
      </div>
    </div>

    <!-- Contenu de la carte -->

    }
  </div>
  }
</div>

<!-- <button (click)="dev()">DEV</button> -->
